@page "/backtest/v2"

@using MarketViewer.Contracts.Enums
@using MarketViewer.Contracts.Models.Backtest
@using MarketViewer.Contracts.Models.ScanV2
@using MarketViewer.Contracts.Requests
@using System.Collections.Generic;
@using MarketViewer.Contracts.Requests.Backtest
@using MarketViewer.Web.Components.Scan
@using MudBlazor.Components.Chart.Models

@inherits ComponentBase;

@inject Services.BacktestService BacktestService;
@inject IJSRuntime JsRuntime;

<PageTitle>Backtest V2</PageTitle>

<div id="scannerSettings" class="pa-2">
    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel IsInitiallyExpanded="true" HideIcon="true">
            <TitleContent>
                <div class="d-flex align-center">
                    <MudText><strong>Filters</strong></MudText>
                    <MudBadge Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                        <MudIcon Icon="@Icons.Material.Filled.FilterAlt" Size="Size.Large"></MudIcon>
                    </MudBadge>
                </div>
            </TitleContent>
            <ChildContent>
                @if (Argument is not null)
                {
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="RemoveArgument">Delete</MudButton>
                    <ScanArgumentComponent PageId="@PageId" Argument="@Argument"></ScanArgumentComponent>
                }
                else
                {
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Success" OnClick="AddArgument">Add Argument</MudButton>
                }
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>
</div>

<div>
    <MudTimeSeriesChart ChartSeries="@_series" @bind-SelectedIndex="Index" Width="100%" Height="350px" ChartOptions="@_options" CanHideSeries TimeLabelSpacing="TimeSpan.FromMinutes(5)" />
    <MudGrid>
        <MudItem xs="6">
            <MudText Typo="Typo.body1" Class="py-3">Selected: @(Index < 0 ? "None" : _series[Index].Name)</MudText>
        </MudItem>
        <MudItem xs="6">
            <MudSlider @bind-Value="_options.LineStrokeWidth" Min="1" Max="10" Color="Color.Info">Line Width: @_options.LineStrokeWidth.ToString()</MudSlider>
        </MudItem>
    </MudGrid>
</div>

@code {
    private DateRange _dateRange { get; set; } = new DateRange(DateTime.Parse("2024-03-05"), DateTime.Parse("2024-03-05"));
    private DateTime _minDate = DateTime.Now.Date.AddYears(-1);
    private DateTime _maxDate = DateTime.Now.Date.AddDays(-1);

    private FilterListComponent _filterList { get; set; } = new();
    public string PageId = Guid.NewGuid().ToString();
    private ScanArgumentZone Argument;

    private DotNetObjectReference<BacktestV2> ObjectReference;
    private IJSInProcessRuntime JsInProcessRuntime;

    private int Index = -1; //default value cannot be 0 -> first selectedindex is 0.

    private ChartOptions _options = new ChartOptions
    {
        YAxisLines = false,
        YAxisTicks = 500,
        MaxNumYAxisTicks = 10,
        YAxisRequireZeroPoint = true,
        XAxisLines = false,
        LineStrokeWidth = 1,
    };

    private TimeSeriesChartSeries _chart3 = new();

    private List<TimeSeriesChartSeries> _series = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            JsInProcessRuntime = (IJSInProcessRuntime)JsRuntime;
            ObjectReference = DotNetObjectReference.Create(this);
            JsInProcessRuntime.InvokeVoid("initializePage", PageId, ObjectReference);
        }
        // await JsRuntime.InvokeVoidAsync("AddScannerResize");
    }

    [JSInvokable]
    public void MoveFilter(string sourceArgumentId, string destinationArgumentId, string filterId)
    {
        var sourceArgument = FindArgument(Argument, sourceArgumentId);
        var destinationArgument = FindArgument(Argument, destinationArgumentId);

        if (sourceArgument is null || destinationArgument is null)
        {
            return;
        }

        var filter = sourceArgument.Filters.Find(filter => filter.Id == filterId);

        sourceArgument.Filters.Remove(filter);
        destinationArgument.Filters.Add(filter);

        StateHasChanged();
    }

    private ScanArgumentZone FindArgument(ScanArgumentZone argument, string argumentId)
    {
        if (argument.Id is null)
        {
            return null;
        }

        if (argument.Id == argumentId)
        {
            return argument;
        }

        if (argument.Argument is null)
        {
            return null;
        }

        return FindArgument(argument.Argument, argumentId);
    }

    private void AddArgument()
    {
        Argument = new ScanArgumentZone(0, "AND");
        JsInProcessRuntime.InvokeVoid("addInitialArgument", PageId, Argument.Id);
    }

    private void RemoveArgument()
    {
        Argument = null;
        JsInProcessRuntime.InvokeVoidAsync("removeInitialArgument", PageId);
    }

    private async Task StartBacktesting()
    {
        var filters = _filterList.Entries.Where(q => q.Enabled == true).Select(q => q.Filter).ToArray();

        var argument = ConvertArgument(Argument);

        var request = new BacktestRequestV3
        {
        };

        var response = await BacktestService.BacktestV3Async(request);

        StateHasChanged();
    }

    private ScanArgument ConvertArgument(ScanArgumentZone scanArgumentZone)
    {
        if (scanArgumentZone is null)
        {
            return null;
        }

        var argument = new ScanArgument
            {
                Operator = scanArgumentZone.Operator,
                Filters = []
            };

        foreach (var filter in scanArgumentZone.Filters)
        {
            argument.Filters.Add(new FilterV2
            {
                CollectionModifier = filter.CollectionModifier,
                FirstOperand = filter.FirstOperand,
                Operator = filter.Operator,
                SecondOperand = filter.SecondOperand,
                Timeframe = filter.Timeframe
            });
        }

        var innerArgument = ConvertArgument(scanArgumentZone.Argument);

        if (innerArgument is not null)
        {
            argument.Argument = innerArgument;
        }

        return argument;
    }
}